<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://localhost:3011{{productInfo.thumbnail}}" alt="">
        <div class="caption">
            <h4 class="pull-right">{{productInfo.price}}</h4>
            <h4>{{productInfo.name}}</h4>
            <p>{{productInfo.description}}}</p>
            <p><a href="" data-id="{{id}}" class="buy">Buy me!</a></p>
        </div>
        <div class="ratings">
            <p class="pull-right">16 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </p>
        </div>
    </div>
</div>